@model WebSite.Models.OrderItem

@{
    ViewBag.Title = "OrderItem";
    Layout = "~/Views/Shared/_lk.cshtml";
}

<h2>Заказ</h2>

<div>
    <h4>Детали заказа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { Model.OrderItemId }) |
    @Html.ActionLink("Назад к списку товаров", "Order")
</p>
